table {
  background-color: #EEEEEE;
  margin-top: 40px;
}

th {
  font-family: Arial;
  background-color: transparent;
  padding-bottom: 15px;
  padding-top:15px;
}

td {
  background: #cccccc;
  background-origin: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
}
