<header></header>
<div class="container">

  <div *ngFor="let blog of blogs">
    {{blog.id||"First name"}} {{blog.creator.firstName||"First name"}}
  </div>

  <table style="width:100%">
    <tr>
      <th style="width:10%">Vlag</th>
      <th style="width:50%">Blogtitel</th>
      <th style="width:20%">Auteur</th>
      <th style="width:20%">Richting</th>
    </tr>
    <tr>
      <td>NL</td>
      <td>Mijn wereldreis door Tilburg en Oostrout</td>
      <td>Jan de Wolph</td>
      <td>Software</td>
    </tr>
    <tr>
      <td>TR</td>
      <td>Blogtitel</td>
      <td>Patta Christiaan</td>
      <td>Media</td>
    </tr>
  </table>
</div>
