<header></header>
<div class="container">


  <table style="width:100%">
    <tr>
      <th style="width:10%">Vlag</th>
      <th style="width:50%">Blogtitel</th>
      <th style="width:20%">Auteur</th>
      <th style="width:20%">Richting</th>
    </tr>

    <ng-container *ngFor="let blog of blogs">
      <tr>
        <td id="table_flag">🇳🇱</td>
        <td>{{blog?.contentImage}}</td>
        <td>{{blog?.creator.firstName}} {{blog.creator.lastName}}</td>
        <td>{{blog.creator.study}}</td>
      </tr>
    </ng-container>
  </table>
</div>
