<header></header>
<div class="container">
  <form (ngSubmit)="onSubmit()">
    <br>
    Title: <input [(ngModel)]="blog.title" type="text" class="form-field" id="title" style="width:100%" name="title"
                  autocomplete="off" required ngModel>
    <br>
    Approved by:
    <br>
    Create by:
    <br>
    <tiny-editor [elementId]="'my-editor-id'" (onEditorKeyup)="getContent($event)">
    </tiny-editor>
    <br>
    <br>
    <button ng-if="errormessage" >Click me!</button>
  </form>
</div>
