<header></header>
<div class="background-image"
     style="background-image: url(../../assets/img/taiwan.jpg); height: 100%; width: 100%; position:fixed; ">

</div>

<div class="content-container container-fluid">
  <div class="row">
    <div class="col-lg-1"></div>

    <!--Left side-->
    <div class="col-lg-5">
      <div class="content-field internship-info">
        <div class="container">
          <h1>Mijn stage in taiwan</h1>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu rutrum orci. Nulla est nisi, iaculis ac
              eleifend ut, luctus
              volutpat mauris. Integer augue nisi, aliquam vitae leo id, dapibus lobortis libero. Cras purus elit,
              fringilla
              vel mattis non, lacinia vitae odio. Donec lacinia nisl non nulla lobortis, eget semper turpis dictum.
              Donec
              mattis, mauris at rhoncus gravida, urna nibh aliquet ligula, nec convallis nisl tellus sit amet dui. Orci
              varius
              natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut condimentum laoreet mi non
              semper.
              Pellentesque porttitor id libero ac aliquam. Mauris ultricies dui aliquet, hendrerit quam a, ullamcorper
              dolor.
              Nunc feugiat molestie diam ac imperdiet. Donec lacinia enim vitae arcu finibus, quis pretium arcu
              fermentum.
              Sed pulvinar, sapien et interdum semper, sapien elit accumsan odio, et placerat turpis enim at tortor.
              Phasellus
              suscipit nibh et nisi pulvinar vehicula. Nulla dapibus, ligula porttitor convallis consectetur, felis nisl
              commodo magna, quis imperdiet mauris lacus eget nisl. Nulla at magna metus. Aenean gravida ligula nec
              bibendum
              efficitur. Curabitur eu aliquam sem. Pellentesque fringilla iaculis nulla, et tristique orci posuere
              vitae.
              Proin euismod sagittis auctor. Ut tortor dui, ultricies vitae ligula varius, fringilla semper eros. Nullam
              eleifend sapien nibh, eget eleifend diam luctus id.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!--Right side-->
    <div class="col-lg-5 col-lg-offset-1">
      <div class="row">
        <!--Student Information-->
        <div class="col-md-12">
          <div class="content-field student-info"> 
            <div class="container">  
              <div class="row">
              <div class="col-md-6">
              <h1>Jeroen Hesselink</h1>
              <br>
              <span class="student-study">Student Technology</span>
              <br>
              <span class="student-semester">Semester 3</span>
              <br>
              <span class="student-internship-duration">Februari - Juni 2016</span>
              <br>
              <br>
              <span class="internship-at">Stage gelopen bij:</span>
              <br>
              <span class="internship-shool-name">Tatung University</span>
              <br>
              <span class="internship-shool-street">Zhoshang N. Road 104</span>
              <br>
              <span class="internship-shool-city">Taipei City</span>
              <br>
              <span class="internship-shool-country">Taiwan</span> 
              </div> 
              <div class="col-md-6">
                <img class="student-image" src="../assets/img/student.jpg" alt="">
              </div>
            </div>
            </div>
          </div>
          </div>
</div>
        <!--QR Code-->
    
          <div class="content-field qr-info">
              <div class="col-md-12">
            <div class="container">
              <div class="row">
                <!--Text-->
                <div class="col-md-8 qr-text">
                  Wil je meer weten over mijn stage en <br>
                  of het wat voor jou is?<br>
                  Scan de QR Code!
                </div>
                <!--Image-->
                <div class="col-md-4 image_container center-div">
                  <img id="qr-image" src="../../assets/img/qr-code-sample.png"/>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

